@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><i>There is no privacy.</i></p>
<img src="img/spoonboy.jpg" alt="There is no spoon image" class="img-fluid" />